<%= @game.player_1.name %> attacked <%= @game.player_2.name %>

<a href="/play">OK</a>

<%= @game.player_1.name %>: <%= @game.player_1.hit_points%>HP
<%= @game.player_2.name %>: <%= @game.player_2.hit_points%>HP
