<%= @player_1_name %> vs. <%= @player_2_name %>
<br>
<%= @player_1_name %>: <%= @player_1.hit_points%>HP
<br>
<%= @player_2_name %>: <%= @player_2.hit_points %>HP




<form action="/attack">
  <input type="submit" value="Attack">
</form>
