<%= @player_1.name %> vs. <%= @player_2.name %>
<br>
<%= @player_1.name %>: <%= @player_1.hit_points%>HP
<br>
<%= @player_2.name %>: <%= @player_2.hit_points %>HP




<form action="/attack">
  <input type="submit" value="Attack">
</form>
